node red flows/create_report.json
[
    {
        "id": "502b0a149596ac83",
        "type": "tab",
        "label": "EarthRanger Cameratrap API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d54b5a8c0c383e8",
        "type": "http request",
        "z": "502b0a149596ac83",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer ABNcFfLBSnqUzlUUsjfvfEwtN0vABC"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "multipart/form-data"
            }
        ],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "6cca07026b219db3"
            ]
        ]
    },
    {
        "id": "2e9b7f7c0c148894",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST Cameratrap",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/sensors/camera-trap/generic/status",
                "vt": "str"
            },
            {
                "p": "payload.data",
                "v": "{\"cameratraprep_camera-name\":\"Camera 2\",\"cameratraprep_camera-make\":\"xGWild Camera\",\"cameratraprep_camera-version\":\"v2.0\",\"detected\":\"Wildlife detected\",\"location\":{\"latitude\":52.2,\"longitude\":5.123}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3f5b47616dafb8e4"
            ]
        ]
    },
    {
        "id": "6cca07026b219db3",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "f01c0505fb05ac36",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST Event",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/activity/events/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"event_type\":\"cameratrap_rep\",\"title\":\"Camera 6 - Activity detected\",\"event_details\":{\"cameratraprep_camera-name\":\"camera 6\",\"cameratraprep_camera-make\":\"Smart Parks xGWild\",\"cameratraprep_camera-version\":\"version 2.1\",\"detected\":\"Object x detected\"},\"location\":{\"latitude\":51.166,\"longitude\":5.244},\"priority\":300,\"site\":\"smartparks\"}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "79dc8c90dac190b3",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "GET status",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/regions/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "0627741b7c3c9498",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST events",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/activity/events/",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"event_type\":\"arrest_rep\",\"title\":\"Arrest\",\"event_details\":{\"arrestrep_age\":25,\"arrestrep_name\":\"Boef\",\"arrestrep_dateofbirth\":\"1982-04-30T13:19:45+02:00\"},\"location\":{\"latitude\":51.1,\"longitude\":5.1},\"priority\":300,\"site\":\"smartparks\"}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "9244ae3a03e3362f",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "GET event files",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/activity/event/ae72c0cc-5f34-440e-8132-fb2858f98ea1/files/?page=1&page_size=1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "293c8ea0704708b3",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "GET event files content",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/activity/event/ae72c0cc-5f34-440e-8132-fb2858f98ea1/file/d19d19a8-f906-4e48-a89b-db237816e2c5/ACF_2022_09_10_11_34_14.jpg",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "2a1d17686977ba76",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST Cameratrap",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/sensors/camera-trap/xgwild/status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "d7cb1d4db0b34ba0"
            ]
        ]
    },
    {
        "id": "0ec3b6be3c9d2e90",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST event files content",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/activity/event/ae72c0cc-5f34-440e-8132-fb2858f98ea1/files/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "59752bbd3a80c8e3"
            ]
        ]
    },
    {
        "id": "59752bbd3a80c8e3",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "msg.payload",
        "func": "msg.payload = {\n    \"filecontent.file\": {\n        \"value\": global.get(\"image1.content\"),\n        \"options\": {\n            \"filename\": \"1.jpg\" //global.get(\"image1.filename\")\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "2d54b5a8c0c383e8",
                "79e87dc00f21b124"
            ]
        ]
    },
    {
        "id": "79e87dc00f21b124",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "3f5b47616dafb8e4",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "msg.payload",
        "func": "msg.payload = {\n    \"filecontent.file\": {\n        \"value\": global.get(\"image1.content\"),\n        \"options\": {\n            \"filename\": \"23.jpg\" //global.get(\"image1.filename\")\n        }\n    },\n    \"recorded_at\": new Date(Date.now()).toISOString(),\n    \"event_type\": \"cameratrap_rep\",\n    \"title\": \"Camera 1 - Activity detected\",\n    \"event_details\": {\n        \"cameratraprep_camera-name\": \"camera 2\",\n        \"cameratraprep_camera-make\": \"Smart Parks xGWild\",\n        \"cameratraprep_camera-version\": \"version 2.1\",\n        \"detected\": \"Object Y detected\"\n    },\n    \"location\": {\n        \"latitude\": 51.14,\n        \"longitude\": 5.12\n    },\n    \"priority\": 300,\n    \"site\": \"smartparks\"\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "2d54b5a8c0c383e8",
                "916ced98bc1b69ff"
            ]
        ]
    },
    {
        "id": "916ced98bc1b69ff",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "http request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "6baf3b0f2665c34f",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "msg.payload",
        "func": "var camera_data = msg.payload.data\n\nmsg.payload = {\n    \"filecontent.file\": {\n        \"value\": global.get(\"image1.content\"),\n        \"options\": {\n            \"filename\": \"7.jpg\" //global.get(\"image1.filename\")\n        }\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "599535c6164a3a33",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "POST Cameratrap",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://sandbox.pamdas.org/api/v1.0/sensors/camera-trap/generic/status",
                "vt": "str"
            },
            {
                "p": "payload.data",
                "v": "{\"cameratraprep_camera-name\":\"Camera 2\",\"cameratraprep_camera-make\":\"xGWild Camera\",\"cameratraprep_camera-version\":\"v2.0\",\"detected\":\"Wildlife detected\",\"location\":{\"latitude\":52.2,\"longitude\":5.123}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "6baf3b0f2665c34f"
            ]
        ]
    },
    {
        "id": "068e5239a2a7965d",
        "type": "comment",
        "z": "502b0a149596ac83",
        "name": "Phote upload works",
        "info": "issue is that the aditional data in json does not get processed",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7cb1d4db0b34ba0",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "Camera Trap API call complete",
        "func": "msg.method = \"POST\";\n\nmsg.url = \"https://sandbox.pamdas.org/api/v1.0/sensors/camera-trap/xgwild/status\";\n\nmsg.payload = {\n    \"filecontent.file\": {\n        \"value\": global.get(\"image1.content\"),\n        \"options\": {\n            \"filename\": new Date(Date.now()).toISOString()+\".jpg\" //global.get(\"image1.filename\")\n        }\n    },\n    \"time\": new Date(Date.now()).toISOString(),\n    \"camera_name\": \"Camera 2\",\n    \"camera_description\": \"Smart Parks xGWild\",\n    \"camera_version\": \"v2.0\",\n    //\"detected\": \"Object x detected\", //This is missing!\n    \"location\": {\n        \"latitude\": 52.100210,\n        \"longitude\": 5.127096\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "2d54b5a8c0c383e8"
            ]
        ]
    },
    {
        "id": "6caa004481ca2dc8",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "Insert Camera Picture",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "d7cb1d4db0b34ba0"
            ]
        ]
    },
    {
        "id": "e3ba85a3cb79f831",
        "type": "comment",
        "z": "502b0a149596ac83",
        "name": "BEST SOLUTIONL Event API POST + File upload",
        "info": "",
        "x": 270,
        "y": 540,
        "wires": []
    },
    {
        "id": "dceda0cbaa709e10",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "POST - File upload to eventID",
        "func": "var input = JSON.parse(msg.payload);\n\nvar eventID = input.data.id;\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://sandbox.pamdas.org/api/v1.0/activity/event/\"+eventID+\"/files/\";\n\nmsg.payload = {\n    \"filecontent.file\": {\n        \"value\": global.get(\"image1.content\"),\n        \"options\": {\n            \"filename\": new Date(Date.now()).toISOString() + \".jpg\" //global.get(\"image1.filename\")\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 580,
        "wires": [
            [
                "807cc7af040f458a",
                "d33b6642e7a7e2d2"
            ]
        ]
    },
    {
        "id": "87f2b6ce8951c3d9",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "POST - Camera Trap Event",
        "func": "msg.method = \"POST\";\n\nmsg.url = \"https://sandbox.pamdas.org/api/v1.0/activity/events/\";\n\nmsg.payload = {\n    \"event_type\": \"cameratrap_rep\",\n    \"title\": \"Camera 3 - Activity detected\",\n    \"event_details\": {\n        \"cameratraprep_camera-name\": \"Camera 3\",\n        \"cameratraprep_camera-make\": \"Smart Parks xGWild\",\n        \"cameratraprep_camera-version\": \"version 2.1\",\n        \"detected\": \"2 Elephant detected\"\n    },\n    \"location\": {\n        \"latitude\": 52.099966,\n        \"longitude\": 5.126409\n    },\n    \"priority\": 300,\n    \"site\": \"smartparks\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "99397107d57b1fb8",
                "0aad5b1aec564860"
            ]
        ]
    },
    {
        "id": "bf457c8bc46d692f",
        "type": "inject",
        "z": "502b0a149596ac83",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "87f2b6ce8951c3d9"
            ]
        ]
    },
    {
        "id": "99397107d57b1fb8",
        "type": "http request",
        "z": "502b0a149596ac83",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer ABNcFfLBSnqUzlUUsjfvfEwtN0vABC"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "630b18946f95fc8a",
                "dceda0cbaa709e10",
                "4ba80e69c167ff8b"
            ]
        ]
    },
    {
        "id": "0aad5b1aec564860",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "POST - Camera Trap Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 620,
        "wires": []
    },
    {
        "id": "630b18946f95fc8a",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "HTTP Reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "807cc7af040f458a",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "POST - File upload to eventID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "b3a591f8c8abbe80",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "HTTP Reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "d33b6642e7a7e2d2",
        "type": "http request",
        "z": "502b0a149596ac83",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer ABNcFfLBSnqUzlUUsjfvfEwtN0vABC"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "multipart/form-data"
            }
        ],
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "b3a591f8c8abbe80"
            ]
        ]
    },
    {
        "id": "f39d79e1a3271407",
        "type": "comment",
        "z": "502b0a149596ac83",
        "name": "ADD NOTE TO EVENT",
        "info": "",
        "x": 180,
        "y": 660,
        "wires": []
    },
    {
        "id": "bfb72d9a9f3d772e",
        "type": "http request",
        "z": "502b0a149596ac83",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer ABNcFfLBSnqUzlUUsjfvfEwtN0vABC"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "3b92c44592ec366a"
            ]
        ]
    },
    {
        "id": "4ba80e69c167ff8b",
        "type": "function",
        "z": "502b0a149596ac83",
        "name": "POST - Add NOTE to eventID",
        "func": "var input = JSON.parse(msg.payload);\n\nvar eventID = input.data.id;\n\nmsg.method = \"POST\";\n\nmsg.url = \"https://sandbox.pamdas.org/api/v1.0/activity/event/\"+eventID+\"/notes/\";\n\nmsg.payload = {\n    \"text\": \"test notes\"\n    };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 660,
        "wires": [
            [
                "bfb72d9a9f3d772e",
                "a093f32c0e6f1fe9"
            ]
        ]
    },
    {
        "id": "a093f32c0e6f1fe9",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "POST - Add notes to event_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "3b92c44592ec366a",
        "type": "debug",
        "z": "502b0a149596ac83",
        "name": "HTTP Reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 700,
        "wires": []
    }
]