node red flows/write_to_gcp.json
[
    {
        "id": "c7c8467dc3a8bb48",
        "type": "tab",
        "label": "Artefact write GCP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "740a6cd0b9d2bb05",
        "type": "e-mail in",
        "z": "c7c8467dc3a8bb48",
        "name": "xgwild@gmail.com - CAMERA",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "always",
        "port": "993",
        "box": "CAMERA",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "300",
        "fetch": "trigger",
        "inputs": 1,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "5ad355819d8f4e0f",
                "b7c56e7c1a9b0fd6",
                "a98ec14b0adbfcdf"
            ]
        ]
    },
    {
        "id": "f87d7e601b5d8e45",
        "type": "inject",
        "z": "c7c8467dc3a8bb48",
        "name": "Check email",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "740a6cd0b9d2bb05"
            ]
        ]
    },
    {
        "id": "5ad355819d8f4e0f",
        "type": "jimp-image",
        "z": "c7c8467dc3a8bb48",
        "name": "",
        "data": "attachments[0].content",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 870,
        "y": 420,
        "wires": [
            [
                "ba9a21d127a36df7"
            ]
        ]
    },
    {
        "id": "ba9a21d127a36df7",
        "type": "image viewer",
        "z": "c7c8467dc3a8bb48",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1030,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5b293cb7722c70",
        "type": "google-cloud-gcs-write",
        "z": "c7c8467dc3a8bb48",
        "account": "",
        "keyFilename": "camera-traps-media/camera-trap-3",
        "filename": "",
        "contentType": "",
        "name": "Write Smart Parks Bucket",
        "x": 1250,
        "y": 300,
        "wires": [
            [
                "681132ca6d6e67cd"
            ]
        ],
        "inputLabels": [
            "test"
        ]
    },
    {
        "id": "b7c56e7c1a9b0fd6",
        "type": "debug",
        "z": "c7c8467dc3a8bb48",
        "name": "email IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "681132ca6d6e67cd",
        "type": "debug",
        "z": "c7c8467dc3a8bb48",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "a98ec14b0adbfcdf",
        "type": "function",
        "z": "c7c8467dc3a8bb48",
        "name": "Modify message name and payload",
        "func": "msg.filename = \"gs://camera-traps-media/camera-trap-3/\" + msg.attachments[0].filename;\nmsg.payload = msg.attachments[0].content\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 300,
        "wires": [
            [
                "dd5b293cb7722c70"
            ]
        ]
    }
]